.tertiary {
  @apply 
  flex
  font-proximaSemiBold 
  justify-center 
  items-center 
  transition-all 
  ease-in-out 
  duration-300 
  text-seaBlue-700 
  underline 
  px-4 
  py-2 
  text-base 
  md:leading-8 
  lg:text-lg 
  lg:leading-9 
  hover:cursor-pointer;
}
.secondary {
  @apply 
  flex 
  font-proximaSemiBold 
  justify-center 
  items-center 
  transition-all 
  ease-in-out 
  duration-300 
  shadow-xl 
  leading-[1.55rem] 
  text-[#0b1dee] 
  bg-[#FDFDFD] 
  px-4 
  py-2 
  rounded-lg 
  border-2 
  border-solid 
  border-seaBlue-700 
  lg:text-lg 
  lg:leading-7 
  lg:px-10 
  lg:py-3 
  hover:cursor-pointer 
  hover:bg-seaBlue-100;
}
.primary {
  @apply 
  flex 
  justify-center 
  items-center 
  transition-all 
  ease-in-out 
  duration-300 
  shadow-xl 
  font-medium 
  text-base 
  leading-[1.55rem] 
  text-slate-200 
  px-4 
  py-2 
  rounded-lg 
  lg:text-lg 
  lg:leading-7 
  lg:px-10 
  lg:py-3 
  hover:cursor-pointer 
  font-proximaSemiBold
  bg-seaBlue-700
  hover:bg-seaBlue-500
}