@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 100% 11%;
  --foreground: 0 0% 100%;
  --card: 240 100% 11%;
  --card-foreground: 0 0% 100%;
  --popover: 240 100% 11%;
  --popover-foreground: 0 0% 100%;
  --primary: 0 0% 100%;
  --primary-foreground: 240 100% 11%;
  --secondary: 240 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 240 30% 20%;
  --muted-foreground: 0 0% 70%;
  --accent: 240 30% 20%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 30% 20%;
  --input: 240 30% 20%;
  --ring: 240 30% 20%;
  --radius: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #010737;
  color: white;
  margin: 0;
  overflow-x: hidden;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
